<h1>Display cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a cocktail", new_cocktail_path %>
