<h1>Display cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail.id), class:"text-decoration-none text-white" %></h2>
  </div>
<% end %>
<br>
<%= link_to "Add a cocktail", new_cocktail_path %>
